
.header{
    height: 80px;
    max-width: 100%;
    @include flex(flex,center,center,row);
    .header-wrapper{
        @include flex(flex,space-between,center,row);
        width:70%;
        height: 100%;
        i{
            display: none;
        }
        .nav-list{
            @include flex(flex,flex-start,center,row);
            // display: flex;
            // align-items: center;
            height: 100%;
            
            ul{
                @include flex(flex,space-between,center,row,30px)
            }
        }
    }

.logo{
        height: 20px;
        width:40px;
        img{
            width: 100%;
            object-fit: cover
        }
    }


   

};