.hero {
    @include flex(flex, center, flex-start, row);
    height: 600px;
    width: 100%;

    img{
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .hero-wrapper {
        position: absolute;
        @include flex(flex, flex-start, center, row);
        height: 70%;
        width: 70%;

        .hero-card {
            background-color: white;
            @include flex(flex, flex-start, flex-start, column,40px);
            min-height: 350px;
            max-width: 400px;
            padding: 30px;

            button{
                color: white;
                background-color:$button-color;
                padding: 10px;
                border-radius: 20px;
            }
        }
    }
}